*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 114vh;
  margin: 0;
  font-family: "Catamaran", sans-serif;
}

.both_pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap between two A4 */
  gap: 5px;
}

.a4_page {
  display: flex;
  /* A4 size */
  width: 210mm;
  height: 297mm;
  background: white;
}

/* first column for the little boxes */
.column {
  display: flex;
  /* to place the boxes under each other*/
  flex-direction: column;
  /*   size of the column */
  flex-basis: 350px;
  background: #ebe9e9;
  border: 1px solid black;
  /* gap between little boxes */
  gap: 20px;
  align-items: center;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* boxes for PERSONAL, CONTACTS, LINKS, SOFT SKILLS, HOBBIES, MY TIME, REFERENCES */
.box {
  width: 250px;
  font-size: 16px;
  /* border: 3px solid red; */
}

#project {
  height: 200px;
}

.image {
  width: 160px;
  height: auto;
  border-radius: 20px;
  margin-top: 20px;
  justify-content: center;
}

.area_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 500px;
  /* border: 3px solid black; */
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.area_text_box {
  background: #ebe9e9;
  border-radius: 20px;
  flex-grow: 1;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box2 {
  /* border: 1px solid red; */
}

/*--------------------------- AREA PRE LOGO A TEXT ---------------------------*/
.area_logo {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 500px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.area_logoText {
  display: inline;
  /* border: 1px solid blue; */
  width: 400px;
  text-align: justify;
}

/*--------------------------------------------------------------------------------*/
.logo_edu {
  /* border: 1px solid blue; */
  width: 60px;
  border-radius: 50%;
  margin-left: 17.5px;
  margin-top: 10px;
}

.logo_com {
  /* border: 1px solid blue; */
  width: 60px;
  border-radius: 50%;
  margin-left: 17.5px;
  margin-top: 5px;
}

/*--------------------------- AREA for LOGO and TEXT ---------------------------*/

header {
  text-align: center;
  /* background: #F5F5F5; */
  background: #ebe9e9;
  border: 1px solid black;
  color: black;
  border-radius: 20px;
  margin: 0;
  flex-grow: 0;
}

h1 {
  font-family: "Yellowtail", cursive;
  /* font-family: "Catamaran", sans-serif; */
  text-align: center;
  padding-top: 20px;
  font-size: 45px;
  margin: 0;
  font-weight: normal;
}

#junior {
  padding-bottom: 20px;
  font-weight: normal;
}

/* PROFILE, EDUCATION, WORK EXPERIENCE, SKILLS ETC. */
h3 {
  text-align: center;
  font-family: "Catamaran", sans-serif;
}

h5 {
  text-align: left;
  margin-left: 10px;
}

section {
  display: flex;
}

.hr-line {
  width: 100px;
  /* margin for left and right */
  margin: 8px;
  border-bottom: 2.4px solid black;
  border-radius: 20px;
}

#links {
  font-size: 16px;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
  /* font-weight: bold; */
}

a:hover {
  color: #bcc1ba;
  text-decoration: none;
}

p {
  text-align: justify;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

/*------------------------------ SOFT SKILL GRAPHS ------------------------------*/

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.bar {
  position: relative;
  border: 1.5px solid black;
  border-radius: 5px;
  background: #f2f3f4;
}

span {
  font-family: "Catamaran", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.bar div {
  position: relative;
  width: 10px;
  height: 7px;
  border-radius: 10px;
  background-color: #bf9aca;
}

skills:not(:last-child) {
  margin-bottom: 50px;
}

/* 1. ability, Adding css animation */

#communication-bar {
  animation: communication-bar-fill 2s forwards;
}

@keyframes communication-bar-fill {
  100% {
    width: 75%;
  }
}

/* 2. ability, Adding css animation */

#self-motivation-bar {
  animation: self-motivation-fill 2s forwards;
}

@keyframes self-motivation-fill {
  100% {
    width: 80%;
  }
}

/* 3. ability, Adding css animation */

#time-management-bar {
  animation: time-management-fill 2s forwards;
}

@keyframes time-management-fill {
  100% {
    width: 85%;
  }
}

/* 4. ability, Adding css animation */

#teamwork-bar {
  animation: teamwork-fill 2s forwards;
}

@keyframes teamwork-fill {
  100% {
    width: 85%;
  }
}

/* 5. ability, Adding css animation */

#creativity-bar {
  animation: creativity-fill 2s forwards;
}

@keyframes creativity-fill {
  100% {
    width: 88%;
  }
}
/* ----------------------- IMAGES ------------------------*/

.cartoon_img {
  position: absolute;
  position: fixed;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  width: 150px;
  height: auto;
}

/*------------------------------ FINISHED SOFT SKILL GRAPHS------------------------------*/

ul {
  font-size: 16px;
  font-family: "Catamaran", sans-serif;
  margin-left: -10px;
}

button {
  background: transparent;
  border: none !important;
  font-size: 0;
}
/*-----------------------------------------------------icons*/

.bi {
  color: red;
}

/* DONUTS GRAPH ------------------------------------------- */
.container_chart {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 200px;
  width: 400px;
  border-radius: 20px;
  margin: 0 auto;
}

#myChart {
  margin: 0 auto;
  /* border: 1px solid black; */
}

/* LANGUAGES -------------------------------------------- */
/* 1. ability, Adding css animation */

#slovak-language {
  animation: slovak-language-fill 2s forwards;
}

@keyframes slovak-language-fill {
  100% {
    width: 100%;
  }
}

/* 2. ability, Adding css animation */

#english-language {
  animation: english-language-fill 2s forwards;
}

@keyframes english-language-fill {
  100% {
    width: 70%;
  }
}

/* -------------------------------------- hover text --------------------------------------*/

.hovertext {
  position: relative;
  /* border-bottom: 1px dotted black; */
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 420px;
  height: 275px;
  background-color: #eccfc3;
  color: black;
  text-align: left;
  border-radius: 5px;
  padding: 5px 10px;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 50px;
  top: -200px;
  /* top: 110%; */
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

/* -------------------------------------- button for downloading cv  --------------------------------------*/
.img_logoPdf {
  position: absolute;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid blue;
}

/* --------------------------------------info logo --------------------------------------*/
.img_logoInfo {
  position: absolute;
  left: 0;
  bottom: 0;
  position: fixed;
  height: 30px;
  height: 30px;
  border-radius: 50%;
}

/* -------------------------------------- hover text --------------------------------------*/
.hovertext-info {
  position: relative;
}

.hovertext-info:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 250px;
  height: 150px;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 5px;
  padding: 5px 10px;
  transition: opacity 1s ease-in-out;
  position: fixed;
  z-index: 1;
  left: 0px;
  bottom: 0px;
}

.hovertext-info:hover:before {
  opacity: 1;
  visibility: visible;
}
